/target

/.vscode/

/.flatpak-builder/
/builddir/
/repo/

# Translated data files
/de.swsnr.turnon.desktop
/resources/de.swsnr.turnon.metainfo.xml

# Compiled gettext catalogs
/po/*.mo

# Compiled schemas
/schemas/gschemas.compiled
