# Cargo outputs
/target/

# Build directory for justfile tasks
/build/

# Flatpak stuff
/.flatpak-builder/
/.flatpak-builddir/
/.flatpak-repo/

# Compiled gettext catalogs
/po/*.mo

# VSCode settinsg
/.vscode/
