[package]
name = "turnon"
description = "Turn on devices in your network"
homepage = "https://github.com/swsnr/turnon"
repository = "https://github.com/swsnr/turnon"
license = "MPL-2.0"
authors = ["Sebastian Wiesner <sebastian@swsnr.de>"]
version = "1.1.0"
edition = "2021"
publish = false
build = "build.rs"

[dependencies]
adw = { package = "libadwaita", version = "0.7.0", features = ["v1_6"] }
async-channel = "2.3.1"
env_filter = "0.1.0"
env_logger = { version = "0.11.5", default-features = false }
futures-util = { version = "0.3.31", default-features = false }
glib = { version = "0.20.5", features = ["log"] }
gtk = { package = "gtk4", version = "0.9.2", features = ["gnome_47"] }
log = "0.4.22"
macaddr = { version = "1.0.1", default-features = false }
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
socket2 = "0.5.7"
systemd-journal-logger = "2.1.1"

[build-dependencies]
glob = "0.3.1"

[package.metadata.release]
pre-release-commit-message = "Release {{version}}"
tag-message = "Turn On {{tag_name}}"
publish = false
verify = false
sign-tag = true
sign-commit = true

# Add the version number to the release metadata
[[package.metadata.release.pre-release-replacements]]
file = "resources/de.swsnr.turnon.metainfo.xml.in"
search = "version=\"next\""
replace = "version=\"{{version}}\""
exactly = 1

# Set the date in release metadata
[[package.metadata.release.pre-release-replacements]]
file = "resources/de.swsnr.turnon.metainfo.xml.in"
search = "date=\"9999-01-01\""
replace = "date=\"{{date}}\""
exactly = 1

# Replace the tag in the release URL
[[package.metadata.release.pre-release-replacements]]
file = "resources/de.swsnr.turnon.metainfo.xml.in"
search = "tag/next</url>"
replace = "tag/v{{version}}</url>"
exactly = 1
