[Desktop Entry]
Name=Turn On
Comment=Turn on devices in your network
Exec=de.swsnr.turnon
Type=Application
Icon=de.swsnr.turnon
Categories=GNOME;GTK;Utility;
Keywords=Gnome;GTK;WakeOnLan;
StartupNotify=true
